<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilos.css">
    <title>Document</title>
</head>
<body>

    <h1>
    HOLA USUARIO
    </h1>


    <h2>
    Bienvenido
    </h2>

    <h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quaerat corporis doloremque explicabo eum commodi ex labore quisquam deleniti aliquid accusamus quia necessitatibus voluptates, qui modi fuga accusantium tempora blanditiis!
    </h3>
    
</body>
</html>