{%extends 'base.html'%}
{%block title%}Firmware{%endblock%}

{%block seccion_h1%}Firmware{%endblock%}

{%block content%}
    <h2>Lorem ipsum</h2>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    </p>
    <p>
        Dolores autem tenetur dignissimos deserunt natus illo ex esse numquam, consectetur nesciunt eaque vitae aliquam molestiae atque a porro? Magnam, velit blanditiis?
    </p>
    <h2>
        Otro Lorem
    </h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, quisquam similique! Cumque ea eum, earum ex, porro ipsum facere nulla laboriosam aspernatur corrupti nemo, dolore eos animi? Non, dolores accusamus.
    </p>



{%endblock%}